sudo: false
language: python
python:
  # - 2.6
  - 2.7
  - 3.3
  - 3.4
  - 3.5
  - 3.6
  - 3.7-dev
  - pypy
  - pypy3
install:
 - pip install -r requirements.txt codecov pytest-cov codacy-coverage responses
script:
 - py.test --verbose --cov-report term --cov-report xml --cov=fut tests
after_success:
 - codecov
 - python-codacy-coverage
notifications:
  email: oczkers@gmail.com
